@inherits ViewPage<string>
@{
    var classVal = "padding-left:6px;font-weight:bold;";
    var entities = new[]
    {
     new { a = "/categories", b = "Categories", c = Model == "/categories" },
     new { a = "/customers", b = "Customers", c = Model == "/customers" },
     new { a = "/customercustomerdemos", b = "Customer Customer Demos", c = Model == "/customercustomerdemos" },
     new { a = "/customerdemographics", b = "Customer Demographics", c = Model == "/customerdemographics" },
     new { a = "/employees", b = "Employees", c = Model == "/employees" },
     new { a = "/employeeterritories", b = "Employee Territories", c = Model == "/employeeterritories" },
     new { a = "/orders", b = "Orders", c = Model == "/orders" },
     new { a = "/orderdetails", b = "Order Details", c = Model == "/orderdetails" },
     new { a = "/products", b = "Products", c = Model == "/products" },
     new { a = "/regions", b = "Regions", c = Model == "/regions" },
     new { a = "/shippers", b = "Shippers", c = Model == "/shippers" },
     new { a = "/suppliers", b = "Suppliers", c = Model == "/suppliers" },
     new { a = "/territories", b = "Territories", c = Model == "/territories" },

        };
}
<div class="btn-group narrow-screen span12" style="margin-bottom:10px;">
    <a href="#" class="btn dropdown-toggle span12" data-toggle="dropdown">
        <i class="icon-th-list"></i>
        Entities
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" style="width:100%;">
        <li><a href="/entities">All</a></li>
        @foreach (var e in entities)
        {
            if (!e.c)
            {
                <li><a href="@e.a">@e.b</a></li>
            }
            else
            {
                <li class="@classVal"><a href="@e.a">&raquo; @e.b</a></li>
            }
        }
    </ul>
</div>
<div class="well sidebar-nav wide-screen">
    <ul class="nav nav-list">
        <li class="nav-header">Entities</li>
        <li></li>
        <li><a href="/entities">All</a></li>
        @foreach (var e in entities)
        {
            if (!e.c)
            {
                <li><a href="@e.a">@e.b</a></li>
            }
            else
            {
                <li class="@classVal"><a href="@e.a">&raquo; @e.b</a></li>
            }
        }
    </ul>
</div> 